.idea
overwritten-files/

# These are large, and downloaded automatically
home/.config/tmux/plugins
home/.config/tmux/*.log

# The whole of nvim is small enough that I think I'd rather just keep it all
# home/.config/nvim/plugins
