[user]
	email = timjchild@gmail.com
	name = Tim Child
[init]
	defaultBranch = main
[core]
	editor = nvim
	fileMode = true
	autocrlf = input
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
