[user]
	email = timjchild@gmail.com
	name = Tim Child
	signingkey = 5CFD63FA8AFDD695567224CE867476C8C369AADB
[init]
	defaultBranch = main
[core]
	editor = nvim
	fileMode = true
	autocrlf = input
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[tag]
	gpgSign = true
